

<div id="search-component">
  <p>Write the name of the step</p>

  <div *ngIf="selectedStep">
  <h2 class="selectedStep">
    {{selectedStep.name }} dvd:{{selectedStep.dvd}} {{selectedStep.location}}
  </h2>

  </div>
<button (click)="clear()" class="clear-result" >clear</button>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let step of steps | async"
    [class.selected]="step === selectedStep"
    (click)="onSelect(step)" class="search-result" >
      {{step.name}}  dvd: {{step.dvd}}  {{step.location}}
    </div>
  </div>
</div>
